# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
venv/
env/

# Ignore Django database
db.sqlite3

# Ignore IDE files
.vscode/
.idea/

# Ignore environment variables
.env
