{% extends "base.html" %}

{% block content %}

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
               {{newsdetails.news_title}}
              </h2>
            </div>
            <p>
                {{newsdetails.news_desc | safe}}
            </p>
          </div>

        </div>
        {% if newsdetails.news_image %}
        <div class="col-md-6">
          <img src="/media/{{newsdetails.news_image}}"/>
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- end about section -->

  {% endblock  %}